<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingrisoft.anxingdemo3">

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for com.baidu.speech.recognizerdemo"
        android:targetPackage="com.mingrisoft.anxingdemo3" />

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- end: baidu speech sdk  权限 -->
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="安行"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="11266463" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="u0AIfmBN6BSfeVeS7rzVmrGo" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="PaREOHHhImIIAoUF356SNOenj5oE0RLh" />

        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d14df14d4ff73130fb9c96c5b53cc32a">
        </meta-data>
        <service android:name="com.amap.api.location.APSService">
        </service>
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.SlideHead" />
        <activity android:name=".UI.Userinfo" />
        <activity android:name=".UI.SystemInfo" />
        <activity android:name=".UI.AxConnecter" />
        <activity android:name=".UI.UrgencyConnect" />
        <activity android:name=".UI.AutonymAttestion" />
        <activity android:name=".UI.AXPopWindows" />
        <activity android:name=".UI.activity.ActivityOnline" />
        <activity android:name=".UI.activity.ActivityAllRecog" />
        <activity android:name=".UI.baidu.OnlineSetting" />


        <activity android:name=".UI.activity.VoiceMonitorActivity"></activity>
    </application>

</manifest>